@page "/"

<PageTitle>Home</PageTitle>

<h1>Nasi Lemak</h1>

<div class="mt-4 p-5 text-center">
    <h1>Nasi Lemak</h1>
    <p>       
        Le Nasi Lemak Indonesia est l'endroit idéal pour découvrir les saveurs
        authentiques de l'Indonésie, avec plusieurs restaurants répartis à
        travers la Belgique. Notre cuisine traditionnelle vous emmène dans un
        voyage gustatif inoubliable à travers les générations, offrant une
        expérience culinaire riche en délices indonésiens. Venez nous
        rejoindre pour une expérience sensorielle exceptionnelle.
    </p>
</div>

<div class="container">
        <div class="row">
          <div class="col-md-6 float-md-end">
            <div
              class="card bg-gradient rounded mt-4 p-5"
              style="background-color: #FC6F21"
            >
              <div class="card-body text-white">
                <h5 class="card-title">Events</h5>
                <p class="card-text">Concert traditionnel : Salle des fêtes.</p>
                <a href="#">Events</a>
                <img
                  src="Source/visual-karsa-8AirHgE4a1w-unsplash.jpg"
                  style="width: 600; height: 200"
                  class="card-img-top"
                  alt="..."
                />
              </div>
            </div>
          </div>
          <div class="col-md-6 float-md-end">
            <div
              class="card rounded mt-4 bg-gradient p-5"
                 style="background-color: #FC6F21">
              <div class="card-body text-white">
                <h5 class="card-title">Promotion</h5>
                <p class="card-text">
                  Degustation découverte : Tout les lundi et Vendredi
                </p>
                <a href="#">Promotion</a>
                <img
                  src="Source/joanna-kosinska-A-J3BDVAiBY-unsplash.jpg"
                  alt="Boisson traditionnel"
                  style="width: 600; height: 200"
                  class="card-img-top"
                />
              </div>
            </div>
          </div>
        </div>
      </div>