@page "/"

<PageTitle>Home</PageTitle>

<h1>Nasi Lemak</h1>

<p>Le Nasi Lemak Indonesia est l'endroit idéal pour découvrir les saveurs
          authentiques de l'Indonésie, avec plusieurs restaurants répartis à
          travers la Belgique. Notre cuisine traditionnelle vous emmène dans un
          voyage gustatif inoubliable à travers les générations, offrant une
          expérience culinaire riche en délices indonésiens. Venez nous
          rejoindre pour une expérience sensorielle exceptionnelle.</p>

